@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "Momo Signature", cursive;
  --font-playfair: "Playfair Display", ui-serif, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {

    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

.animate-zoom {
  animation: zoom 20s infinite alternate ease-in-out;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}